<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.om.mapper.OmModelDataMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  om_model_data 
		WHERE
			 model_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.om.entity.OmModelData">
		SELECT * 
		FROM  om_model_data
		WHERE
			 model_id = #{mainId} 	</select>
</mapper>
